:root {
    --cell-size: 70px;
}

#table {
    border-spacing: 0px;
    margin: auto;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    -ms-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 5px purple; }
    to { text-shadow: 0 0 5px red; }
}

@keyframes pulse {
    from { background-color: purple; }
    to { background-color: red; }
}

.possible-move {
    -webkit-animation: pulse 1s ease-in-out infinite alternate;
    -moz-animation: pulse 1s ease-in-out infinite alternate;
    -ms-animation: pulse 1s ease-in-out infinite alternate;
    animation: pulse 1s ease-in-out infinite alternate;
}

.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.float-left {			
    float: left;
}