:root {
    --cell-size: 70px;
}
#table {
    border-spacing: 0px;
    margin: auto;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

  @keyframes pulse {
    from { background-color: purple; }
    to { background-color: red; }
}

.possible-move {
    animation: pulse 1s infinite alternate;
}

.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.float-left {			
    float: left;
}